@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.4;
}

h1 {
  
}

h2 {
  text-align: center;
}

p {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:focus,
a:hover {
  color: #fff;
}

kbd {
  padding: 0.25rem;
  background-color: #000;
  border: 1px solid #222;
}

/* Form */

form {
  
}

.form-item {
  display: inline-block;
}

/* Main content */

.main-content {
  flex-grow: 1;
}

/* Main header */

.main-header {
  border-bottom: 1px solid #333;
  text-align: center;
}

.main-title,
.load-form,
.fork-me {
  display: inline-block;
  margin-right: 3rem;
}

/* Game */

.waiting .game,
.waiting .main-aside {
  display: none;
}

.game {
  flex-grow: 1;
  padding: 1rem;
}

.maze {
  display: grid;
  gap: 0.1rem;
  margin: 0 auto;
  border: 1px solid #444;
}

.cell {
  background-color: #111;
  border-color: transparent;
  border-style: solid;
  border-width: 0.0625rem;
}

.cell::before,
.cell::after {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
}

.cell::before {
  content: attr(data-icon);
}

.current::after {
  content: attr(data-current);
  transform: scale(-1, 1);
}

.wall-t {
  border-top-color: #fff;
}

.wall-r {
  border-right-color: #fff;
}

.wall-b {
  border-bottom-color: #fff;
}

.wall-l {
  border-left-color: #fff;
}

.dark .unseen {
  background-color: #000;
  border-color: #000;
}

.dark .unseen::before,
.current::before {
  display: none;
}

.win {
  background-color: green;
}

.lose {
  background-color: red;
}

/* Character */

.character {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #111;
  border: 1px solid #333;
  text-align: center;
  transition: background-color 0.5s ease;
}

.character-name {
  font-size: 1.7rem;
  font-weight: bold;
}

.character-hp {
  font-size: 1.2rem;
  font-weight: bold;
}

.character-icon {
  font-size: 6rem;
}

.fight-hero .character-icon {
  display: inline-block;
  transform: scale(-1, 1);
}

.character-strength {
  display: none;
}

.character-earn {
  background-color: #141;
}

.character-lose {
  background-color: #411;
}

.game-over .fight-hero {
  background-color: #211;
}

/* Fight */

.fight-mode .maze {
  display: none;
}

.fight {
  display: none;
  width: 34rem;
  margin: 1rem auto;
}

.fight-mode .fight {
  display: flex;
  align-items: center;
}

.fight .character {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.fight-versus {
  font-family: serif;
  font-size: 1.2rem;
  font-style: italic;
}

/* Aside */

.main-aside {
  order: -1;
  flex-basis: 20rem;
  height: 100vh;
  overflow: auto;
  padding: 1rem;
  background-color: #111;
  border-right: 1px solid #333;
}

.main-aside h2 {
  text-align: left;
}

.main-aside .character {
  margin-left: auto;
  margin-right: auto;
}

.message {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #222;
  color: #fff;
}

.green .text {
  color: green;
}

.red .text {
  color: red;
}

.icon {
  flex-basis: 4rem;
  flex-grow: 1;
  margin-right: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
}

.text {
  flex-basis: 14rem;
}