.hidden {
  display: none;
}

.description {
  color: #666;
}

.icon {
  margin-right: 0.5rem;
  font-size: 2.5rem;
  line-height: 1;
}

.hp {
  display: inline-block;
  min-width: 1.75rem;
  padding: 0.25rem;
  background: #fff;
  border-radius: 1rem;
  color: #000;
  text-align: center;
}