* {
  box-sizing: border-box;
}

html {
  font-size: 0.9em;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  line-height: 1.4;
}

h1 {
  
}

h2 {
  
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
button {
  background-color: transparent;
  border: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:hover,
button:focus,
button:hover {
  color: #fff;
  text-decoration: underline;
}

kbd {
  padding: 0.25rem;
  background-color: #000;
  border: var(--onepix) solid #222;
}
