.fight-mode .maze {
  display: none;
}

.fight {
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 34rem;
  margin: 0 auto;
}

.fight-mode .fight {
  display: flex;
}

.fight-versus {
  margin: 0 0.5rem;
  font-family: serif;
  font-size: 1.2rem;
  font-style: italic;
}

.fight-current {
  background-color: #222;
  border: var(--onepix) solid #333;
}

.character {
  width: 8rem;
  height: 8rem;
  padding: 0.5rem;
  background-color: #111;
  border: var(--onepix) solid #333;
  text-align: center;
  transition: background-color 0.5s ease;
}

.character-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.character-hp-bar {
  display: block;
  width: 100%;
  height: 0.5rem;
  background-color: #fff;
}

.character-icon {
  font-size: 3rem;
  line-height: 1.2;
}

.fight-hero .character-icon {
  display: inline-block;
  transform: scale(-1, 1);
}

.character-earn {
  background-color: #141;
}

.character-lose {
  background-color: #411;
}

.game-over .fight-hero {
  background-color: #211;
}

@media (min-width: 30rem) {
  .character {
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .character-name {
    font-size: 1.7rem;
  }

  .character-hp {
    font-size: 1.2rem;
  }

  .character-icon {
    font-size: 6rem;
    font-weight: bold;
  }
}