.fight-mode .maze {
  display: none;
}

.fight {
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 34rem;
  margin: 0 auto;
}

.fight-mode .fight {
  display: flex;
}

.fight-versus {
  margin: 0 0.5rem;
  font-family: serif;
  font-size: 1.2rem;
  font-style: italic;
}

.fight-current {
  background-color: #222;
  border: var(--onepix) solid #333;
}