/* Main header */

.main-header {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  border-bottom: var(--onepix) solid #333;
}

.main-header:target {
  display: flex;
}

.main-header > * {
  padding: 0.5rem;
}

.main-header h2 {
  font-size: 0.9rem;
}

/* Main nav */

.main-title {
  margin-bottom: 1.5rem;
}

.main-header button {
  margin-right: 0.5rem;
}

/* Hero */

.hero {
  text-align: center;
}

/* Messages */

.messages {
  height: 16vh;
  min-height: 8rem;
  overflow: auto;
}

.message {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  color: #fff;
}

.message a {
  color: #fff;
  text-decoration: underline;
}

.message a:focus,
.message a:hover {
  text-decoration: none;
}

.message .icon {
  width: 3rem;
  text-align: center;
}

/* Responsive */

@media (min-width: 30rem) {
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main-header > * {
    flex-basis: 12.5rem;
    padding: 0.5rem 1rem;
    border-right: var(--onepix) solid #222;
  }

  .main-nav {
    flex-grow: 1;
    flex-basis: 18rem;
  }

  .messages {
    flex-grow: 2;
    flex-basis: 20rem;
    border-right: none;
  }
}

