/* Main content */

.main-content {
  position: relative;
  flex-grow: 1;
}

/* Main header */

.main-header {
  padding: 0.5rem 0;
  border-bottom: var(--onepix) solid #333;
  text-align: center;
}

.main-header > * {
  margin: 0 0.5rem;
}

.main-header button {
  text-decoration: none;
}

.main-header button:focus,
.main-header button:hover {
  text-decoration: underline
}

@media (min-width: 30rem) {
  .main-header {
    display: flex;
    justify-content: center;
  }

  .fork-me {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }
}

/* Game */

.waiting .game,
.waiting .main-aside {
  display: none;
}

.game {
  flex-grow: 1;
  overflow: auto;
  padding: 0.5rem;
}

@media (min-width: 30rem) {
  .game {
    padding: 2rem;
  }
}